html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial";
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: black;
  text-align: left;
  background-color: transparent;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

button,
input {
  border-radius: 0 !important;
}

.carousel-item {
  height: 500px !important;
  overflow: hidden !important;
}

.carousel-indicators {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 20px;
  height: 0;
}

.card,
.card img {
  border-radius: 0 !important;
}

.btn-primary {
  background: #170577 !important;
  border: #170577 solid 1px !important;
}

.navbar {
  -webkit-box-shadow: 0 1px 1px grey;
          box-shadow: 0 1px 1px grey;
}

.btn-left {
  width: 25px;
  border-top-left-radius: 0.2em !important;
  border-bottom-left-radius: 0.2em !important;
}

.btn-right {
  width: 25px;
  border-top-right-radius: 0.2em !important;
  border-bottom-right-radius: 0.2em !important;
}

.price {
  font-weight: bold;
  opacity: 0.8;
}

.card-text {
  opacity: 0.8;
}

#top-header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#top-header > div {
  margin-left: 0.5em;
}

#top-header > div > * {
  opacity: 0.7;
  cursor: pointer;
}

#top-header > div > *:hover {
  opacity: 1;
}

#top-header > div span {
  font-size: 0.8em;
}

section#carousel-banner {
  margin-top: 100px;
}

section#product-details .opacity-bg {
  height: 100%;
  opacity: 0.7;
  background-color: red;
}

section#product-details article#info {
  margin-bottom: 2em;
}

section#product-details .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

section#product-details .details .detail.title {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: red;
  line-height: 1em;
}

section#product-details .details .detail.price {
  font-weight: bold;
}

section#product-details .details .detail.price span {
  opacity: 0.8;
}

section#product-details .details .detail label {
  opacity: 0.7;
  font-size: 0.9em;
}

section#cart article.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0.1px 0.1px 2px grey;
          box-shadow: 0.1px 0.1px 2px grey;
  margin-bottom: 0.5em;
  font-size: 0.8rem;
}

section#cart article.cart-item .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#cart article.cart-item .product-name {
  color: red;
}

section#cart article.cart-item .total {
  opacity: 0.8;
  font-weight: bold;
}

section#cart article.cart-item .details label {
  opacity: 0.7;
}

section#cart article.cart-item .details input {
  width: 50px;
  text-align: center;
}

section#cart #temp-bill {
  -webkit-box-shadow: 0.1px 0.1px 2px black;
          box-shadow: 0.1px 0.1px 2px black;
}

section#cart #temp-bill .bill > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0;
}

section#cart #temp-bill .bill > div label {
  opacity: 0.6;
}

section#cart #temp-bill .bill .total span {
  font-size: 1.5em;
  color: red;
}

section#welcome-page {
  height: 100%;
  width: 100%;
  position: relative;
}

section#welcome-page .polygon-bg {
  -webkit-clip-path: polygon(72% 0, 100% 0, 100% 100%, 60% 100%);
  clip-path: polygon(72% 0, 100% 0, 100% 100%, 60% 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #d0d0d0;
}

section#welcome-page article#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 4em;
  height: 100vh;
  font-size: 2rem;
  color: #fff;
}

section#welcome-page article#title h2 {
  font-size: 1.5em;
}

section#welcome-page article#title h5 {
  opacity: 0.7;
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

section#welcome-page article#title img.group-banner {
  width: 350px !important;
  height: 300px !important;
}

section#welcome-page article#title button {
  font-size: 1em;
  width: 300px;
  padding: 0.3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section#welcome-page article#title button:hover {
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
  -webkit-box-shadow: 0 0.1px 10px blue;
          box-shadow: 0 0.1px 10px blue;
}

section#welcome-page article#product {
  position: relative;
}

section#welcome-page article#product .main-img {
  z-index: 10;
  position: absolute;
  bottom: 20%;
  height: 400px;
}

section#welcome-page article#product .shirt-img {
  width: 500px;
  position: absolute;
  bottom: 30%;
  right: 5%;
}

section#welcome-page article#product .left-img {
  z-index: 5;
  width: 400px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

section#checkout .checkoutform {
  max-width: 700px;
  margin: auto;
}

section#checkout .checkoutform label {
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.7;
}

section#checkout ul.checkout-tooltip {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  opacity: 0.8;
}

section#checkout ul.checkout-tooltip label {
  opacity: 1;
}

section#checkout ul.checkout-tooltip li {
  font-size: 0.8em;
  margin-left: 1em;
}

section#category-list .border-md {
  border: 1px solid silver;
  padding: 0 1rem;
}

section#category-list .category {
  padding: 0 !important;
}

section#category-list .category:hover figure {
  border: 1px solid #17a2b8;
  cursor: pointer;
}

section#category-list .category:hover button {
  background: #17a2b8 !important;
  color: #fff;
}

section#category-list .category figure {
  margin: 1em 1em 0;
  padding: 0;
  border: 1px solid silver;
}

section#category-list .category img {
  width: 100%;
  padding: 3rem;
}

section#category-list .category button.category__button {
  position: absolute;
  bottom: 2em;
  left: 2em;
}

#ads {
  padding-left: 1.5rem;
}

#ads .ads__container figure {
  border-radius: 0.3rem;
  border: 1px solid silver;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.5em;
}

#ads .ads__container figure img {
  width: 100%;
}

section#category-deals .category__deals {
  border-top: 2px solid tomato;
}

section#category-deals .category__deals .items-container {
  padding: 0;
}

section#category-deals .category__deals .left-column {
  padding: 0 !important;
}

section#category-deals .category__deals .category-title h5 {
  text-transform: uppercase;
  color: tomato;
  font-size: 1.7rem;
}

section#category-deals .category__deals .brand-list h6 {
  font-weight: bold;
}

section#category-deals .category__deals .brand-list .brand {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid silver;
  padding: 0.3em;
  color: tomato;
  margin-bottom: 0.3em;
  margin-right: 0.3em;
}

section#category-deals .category__deals .item-list .item {
  padding: 1rem;
}

section#category-deals .category__deals .item-list .item img {
  width: 100%;
}

footer .footer__column {
  padding: 3rem;
}

footer address {
  margin: 0;
}

footer address > div {
  margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .polygon-bg {
    display: none;
  }
  section#category-list .border-md {
    border: none !important;
  }
  article#title {
    padding: 2em !important;
    font-size: 1.5rem !important;
  }
  article#title button {
    width: auto !important;
  }
  section#category-deals .category__deals .category-title h5 {
    font-size: 1.2em;
  }
  article#product {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */