// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap"; 
@import "~font-awesome/scss/font-awesome.scss";
// @import "~bootstrap/dist/css/bootstrap.css";
// @import "~bootstrap-vue/dist/bootstrap-vue.css";

$font-family-base: "Arial";
$font-size-base: 16px;
$line-height-base: 20px;
$font-weight-base: normal;
$body-bg: transparent;
$body-color: black;

// Reset CSS
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

// Replace Bootstrap 4

button,
input {
  border-radius: 0 !important;
}

.carousel-indicators {
  justify-content: flex-end !important;

  li {
    border-radius: 50%;
    width: 20px;
    height: 0;
  }
}

.card {
  &,
  img {
    border-radius: 0 !important;
  }
}

.btn-primary {
  background: #170577 !important;
  border: #170577 solid 1px !important;
}

// Global style

.btn-left {
  width: 25px;
  border-top-left-radius: 0.2em !important;
  border-bottom-left-radius: 0.2em !important;
}

.btn-right {
  width: 25px;
  border-top-right-radius: 0.2em !important;
  border-bottom-right-radius: 0.2em !important;
}

.price {
  font-weight: bold;
  opacity: 0.8;
}

.card-text {
  opacity: 0.8;
}

.hover-up {
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  }
}

// My App Styling
section#product-details {
  .opacity-bg {
    height: 100%;
    opacity: 0.7;
    background-color: red;
  }

  article#info {
    margin-bottom: 2em;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1em;

    .detail {
      &.title {
        font-size: 2em;
        margin-bottom: 0.5em;
        color: red;
        line-height: 1em;
      }

      &.price {
        font-weight: bold;

        span {
          opacity: 0.8;
        }
      }

      label {
        opacity: 0.7;
        font-size: 0.9em;
      }
    }
  }
}

section#cart {
  article.cart-item {
    display: flex;
    justify-content: center;
    box-shadow: 0.1px 0.1px 2px grey;
    margin-bottom: 0.5em;
    font-size: 0.8rem;

    .information {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .product-name {
      color: red;
    }

    .total {
      opacity: 0.8;
      font-weight: bold;
    }

    .details {
      label {
        opacity: 0.7;
      }

      input {
        width: 50px;
        text-align: center;
      }
    }
  }

  #temp-bill {
    box-shadow: 0.1px 0.1px 2px black;

    .bill {
      & > div {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0;

        label {
          opacity: 0.6;
        }
      }

      .total {
        span {
          font-size: 1.5em;
          color: red;
        }
      }
    }
  }
}

section#welcome-page {
  height: 100%;
  width: 100%;
  position: relative;

  .polygon-bg {
    -webkit-clip-path: polygon(72% 0, 100% 0, 100% 100%, 60% 100%);
    clip-path: polygon(72% 0, 100% 0, 100% 100%, 60% 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d0d0d0;
  }

  article#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4em;
    height: 100vh;
    font-size: 2rem;
    color: #fff;

    h2 {
      font-size: 1.5em;
    }

    h5 {
      opacity: 0.7;
      font-size: 0.8em;
      margin-bottom: 1.5em;
    }

    img.group-banner {
      width: 350px !important;
      height: 300px !important;
    }

    button {
      font-size: 1em;
      width: 300px;
      padding: 0.3em;
      transition: 0.3s;

      &:hover {
        transform: translate(0, -2px);
        box-shadow: 0 0.1px 10px blue;
      }
    }
  }

  article#product {
    position: relative;

    .main-img {
      z-index: 10;
      position: absolute;
      bottom: 20%;
      height: 400px;
    }

    .shirt-img {
      width: 500px;
      position: absolute;
      bottom: 30%;
      right: 5%;
    }

    .left-img {
      z-index: 5;
      width: 400px;
      position: absolute;
      bottom: 10%;
      right: 5%;
    }
  }
}

section#checkout {
  .checkoutform {
    max-width: 700px;
    margin: auto;

    label {
      font-size: 0.8em;
      font-weight: bold;
      opacity: 0.7;
    }
  }

  ul.checkout-tooltip {
    label {
      opacity: 1;
    }
    li {
      font-size: 0.8em;
      margin-left: 1em;
    }
    padding-inline-start: 0;
    opacity: 0.8;
  }
}

section#category-list {
  .border-md {
    border: 1px solid silver;
    padding: 0 1rem;
  }   

  .category {
    padding: 0 !important;

    &:hover {
      figure {
        border: 1px solid #17a2b8;
        cursor: pointer;
      }

      button {
        background: #17a2b8 !important;
        color: #fff;
      }
    }

    figure {
      margin: 1em 1em 0;
      padding: 0;
      border: 1px solid silver;
    }

    img {
      width: 100%;
      padding: 3rem;
    }

    button.category__button {
      position: absolute;
      bottom: 2em;
      left: 2em;
    }
  }
}

#ads {
  padding-left: 1.5rem;

  .ads__container {
    figure {
      border-radius: 0.3rem;
      border: 1px solid silver;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 0.5em;

      img {
        width: 100%;
      }
    }
  }
}

section#category-deals {
  .category__deals {

    .left-column {
      padding: 0 !important;
    }

    border-top: 2px solid tomato;

    .category-title {
      h5 {
        text-transform: uppercase;
        color: tomato;
        font-size: 1.7rem;
      }
    }

    .brand-list {
      h6 {
        font-weight: bold;
      }
      .brand {
        box-sizing: content-box;
        border: 1px solid silver;
        padding: 0.3em;
        color: tomato;
        margin-bottom: 0.3em;
        margin-right: 0.3em;
      }
    }

    .item-list {
      .item {
        padding: 1rem;

        img {
          width: 100%;
        }
      }
    }
  }
}

footer {
  .footer__column {
    padding: 3rem;
  }

  address {
    margin: 0;
    & > div {
      margin: 1rem 0;
    }
  }
}

// Responsive

@media only screen and (max-width: 768px) {
  .polygon-bg {
    display: none;
  }

  section#category-list { 
    .border-md {
      border: none !important;
    }   
  }

  article#title {
    padding: 2em !important;
    font-size: 1.5rem !important;

    button {
      width: auto !important;
    }
  }

  section#category-deals{
    .category__deals {
      .category-title {
        h5 {
          font-size: 1.2em;
        }
      }
    }
  }

  article#product {
    display: none;
  }
}
