<template>
  <div class="container mt-2">
    <mdb-alert color="info" dismiss>
      <strong>Đặt hàng ngay để nhận nhiều ưu đãi!</strong> Giao hàng nhanh từ 3 đến 5 ngày với sản phẩm nhập trực tiếp từ Hàn Quốc.
    </mdb-alert>
    <section id="cart" class="row mb-3">
      <div class="col-lg-9">
        <cart-item
          v-bind:data="item"
          v-bind:key="item.name+index"
          v-for="(item, index) in cartItems"
        />
      </div>
      <div class="col-lg-3">
        <section id="temp-bill" class="bg-white">
          <div class="bill p-3">
            <div class="temp">
              <label for>Tạm tính</label>
              <span>{{ total() | toCurrency }}</span>
            </div>
            <div class="total">
              <label for>Thành tiền</label>
              <span>{{ total() | toCurrency }}</span>
            </div>
          </div>
          <button
            type="button"
            class="btn-block btn btn-danger"
            data-toggle="modal"
            data-target="#modalContactForm"
          >Tiến hành đặt hàng</button>
        </section>
      </div>
      <div
        class="modal fade"
        id="modalContactForm"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">THÔNG TIN NGƯỜI NHẬN</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" id="form34" v-model="form.full_name" class="form-control validate" />
                <label data-error="wrong" data-success="right" for="form34">Họ và tên*</label>
              </div>

              <div class="md-form mb-5">
                <i class="fas fa-phone-alt prefix grey-text"></i>
                <input type="text" id="form29" v-model="form.phone" class="form-control validate" />
                <label data-error="wrong" data-success="right" for="form29">Số điện thoại*</label>
              </div>

              <div class="md-form mb-5">                
                <i class="fas fa-envelope prefix grey-text"></i>
                <input type="text" id="form32" v-model="form.user_email" class="form-control validate" />
                <label data-error="wrong" data-success="right" for="form32">Email (nếu có)</label>
              </div>

              <div class="md-form">
                <i class="fas fa-map-marker-alt prefix grey-text"></i>
                <textarea type="text" id="form8" v-model="form.address" class="md-textarea form-control" rows="3"></textarea>
                <label data-error="wrong" data-success="right" for="form8">Địa chỉ nhận hàng*</label>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button class="btn btn-unique" @click="acceptOrder()">
                Xác nhận
                <i class="fas fa-stamp ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</template>

<script>
import { mapState, mapMutation, mapActions } from "vuex";
import { mdbAlert } from "mdbvue";

export default {
  data() {
    return {
      dialog: false,
      form: {
        user_email: "",
        phone: "",
        full_name: "",
        address: ""
      }
    };
  },
  components: {
    mdbAlert
  },
  computed: {
    ...mapState(["cartItems"])
  },
  methods: {
    ...mapActions([
      'acceptOrder'
    ]),
    rerender: function() {
      this.$forceUpdate();
    },
    total: function() {
      return this.cartItems.reduce((a, b) => {
        if (typeof a == "object")
          return +(a.unit_price * a.quantity) + +(b.unit_price * b.quantity);
        return +a + +(b.unit_price * b.quantity);
      }, 0);
    }
  }
};
</script>