<template>
  <main>
    <section id="banner" class="container p-0">
      <div class="d-flex flex-md-row flex-column">
        <article
          id="carousel-banner"
          class="carousel slide col-12 col-md-9 p-1"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carousel-banner"
              :data-slide-to="index"
              :key="banner.id"
              v-for="(banner, index) in data.banners"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div
              class="carousel-item"
              :key="banner.id"
              :class="{active: index == 0}"
              v-for="(banner, index) in data.banners"
            >
              <img class="d-block w-100" :src="banner.image" alt="First slide" />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-banner" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-banner" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </article>
        <article class="col-md-3 col-12 p-1">
          <div class="d-flex flex-md-column flex-row justify-content-md-between align-items-center">
            <div class="deal-poster col-6 col-md-12 p-0 pr-1 p-md-0 pb-md-1 h-50">
              <deal-poster :data="data.deals[0]" />
            </div>
            <div class="deal-poster col-6 col-md-12 p-0 pl-1 p-md-0 pt-md-1 h-50">
              <deal-poster :data="data.deals[1]"/>
            </div>
          </div>
        </article>
      </div>
    </section>

    <slogans />
    <hot-deals />

    <hp-category-group :key="data.id" :data="data" v-for="data in data.categories" />
    <app-footer />
  </main>
</template>

<script>
import dealPoster from "../components/HPDealPoster";
import slogans from "../components/Slogans.vue";
import hotDeals from "../components/HPHotDeals";
import axios from "axios";

export default {
  data() {
    return {
      data: {}
    };
  },
  created() {
    this.loadData();
  },
  components: {
    slogans,
    hotDeals,
    dealPoster
  },
  methods: {
    loadData() {
      axios.get("api/home-page").then(res => {
        this.data = res.data.data;
      });
    }
  }
};
</script>

<style lang="scss">
#carousel-banner {
  .carousel-inner {
    height: 468px !important;
  }
}

.deal-poster {
  box-sizing: border-box !important;
  overflow: hidden !important;

  img {
    height: 230px !important;
  }
}
</style>