<template>
  <section id="product-info" class="p-2 container" v-if="data">
    <article id="info" class="flex row">
      <div class="col-md-7">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div
              class="carousel-item"
              v-bind:class="{ active: index == 0 }"
              v-bind:key="image"
              v-for="(image, index) in data.images"
            >
              <img class="d-block w-100" v-bind:src="image" alt="Third slide" />
              <div class="carousel-caption d-none d-md-block">
                <h5>...</h5>
                <p>...</p>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="info col-md-5">
        <div class="detail title text-danger">
          <h1>{{ data.name }}</h1>
        </div>
        <div class="detail">
          <p v-if="!!data.description">{{ data.description }}</p>
        </div>
        <div class="detail">
          <label for>Nhà sản xuất:</label>
          <p>{{ data.brand.name }}</p>
        </div>
        <div class="detail">
          <label for>Loại sản phẩm:</label>
          <span>{{ data.category.name }}</span>
        </div>
        <v-rating v-model="rating" background-color="indigo lighten-3" color="indigo" size="64"></v-rating>
        <div class="detail price">
          <label for>Giá:</label>
          <span>{{ data.unit_price | toCurrency}}</span>
        </div>
        <div class="action">
          <button type="button" class="btn btn-danger" @click="addItem(data)">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm vào
            giỏ
          </button>
        </div>
      </div>
    </article>
    <article id="tab">
      <div class="text-center">
        <button
          type="button"
          class="btn"
          :class="{'btn-secondary': selectedTab == 'info', 'btn-outline-secondary': selectedTab != 'info'}"
          @click="switched('info')"
        >Chi tiết sản phẩm</button>
        <button
          type="button"
          class="btn"
          :class="{'btn-secondary': selectedTab == 'tutorial', 'btn-outline-secondary': selectedTab != 'tutorial'}"
          @click="switched('tutorial')"
        >Hướng dẫn sử dụng</button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          @click="switched('dtAttendance')"
        >Đánh giá sản phẩm</button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          @click="switched('dtComment')"
        >Thông tin phản hồi</button>
      </div>
    </article>
    <component :is="selectedTab" :data="data[selectedTab]"></component>
  </section>
</template>

<a role="tab" id="__BVID__9___BV_tab_button__" aria-selected="true" aria-setsize="3" aria-posinset="1" aria-controls="__BVID__9" target="_self" href="#" class="nav-link active">First</a>

<script>
import axios from "axios";
import DtComment from "../components/DTComment.vue";
import DtInfo from "../components/DTInfo.vue";
import DtAttendance from "../components/DTAttendance.vue";
import DtTutorial from "../components/DtTutorial.vue";

import { mapActions, mapState } from "vuex";

export default {
  components: {
    DtComment,
    info: DtInfo,
    DtAttendance,
    tutorial: DtTutorial
  },
  data() {
    return {
      data: null,
      selectedTab: "info",
      rating: 5
    };
  },
  computed: {
    ...mapState(["categories"])
  },
  props: ["id"],
  created() {
    this.fetchData();
  },
  methods: {
    ...mapActions(["addItem"]),
    switched(component) {
      this.selectedTab = component;
    },
    fetchData() {
      axios
        .get(`/api/products/${this.$route.params.id}`)
        .then(res => (this.data = res.data.data))
        .catch(console.log("error"));
    }
  }
};
</script>

<style lang="scss">
.nav.nav-tabs {
  display: none !important;
}

h1 {
  font-size: 1.2em;
}
</style>