<template>
  <!-- <div>
    <section id="product-details" class="p-2 container">
      <button type="button" class="btn btn-info mb-2">
        {{ categoryName }}
        <span class="badge badge-light">{{ items.length }}</span>
      </button>

      <div
        v-if="items.length == 0"
        class="alert alert-secondary"
        role="alert"
      >Rất tiếc, không có sản phẩm nào được tìm thấy!</div>
      <article id="info" class="row">
        <item-card v-bind:key="item.id" v-bind:data="item" v-for="item in items"></item-card>
      </article>
    </section>
    <app-footer />
  </div>-->
  <section class="container">
    <div
      v-if="items.length == 0"
      class="alert alert-secondary"
      role="alert"
    >Rất tiếc, không có sản phẩm nào được tìm thấy!</div>
    <mdb-masonry flexbox responsive :maxHeight="650">
      <mdb-masonry-item :key="item.id" v-for="item in items" :itemStyle="{'width': '24%', 'padding': '5px'}">
        <item-card :data="item"/>
      </mdb-masonry-item>
    </mdb-masonry>
  </section>
</template>

<style lang="scss">
</style>

<script>
import axios from "axios";
import { mapState } from "vuex";
import {
  mdbMasonry,
  mdbMasonryItem,
  mdbCard,
  mdbCardBody,
  mdbCardTitle,
  mdbCardText,
  mdbCardHeader,
  mdbListGroup,
  mdbListGroupItem,
  mdbCardFooter
} from "mdbvue";

export default {
  data() {
    return {
      items: [],
      categoryName: ""
    };
  },
  components: {
    mdbMasonry,
    mdbMasonryItem,
    mdbCard,
    mdbCardBody,
    mdbCardTitle,
    mdbCardText,
    mdbCardHeader,
    mdbListGroup,
    mdbListGroupItem,
    mdbCardFooter
  },
  computed: {
    ...mapState(["categories"]),
    fetchData() {
      axios(
        `/api/products?search=category_id:${this.$route.query.category}`
      ).then(res => {
        this.items = res.data.data;
      });
    }
  },
  created() {
    this.fetchData;
    this.setCategoryName();
  },
  methods: {},
  watch: {
    "$route.query.category"() {
      this.fetchData;
      this.setCategoryName();
    }
  },
  methods: {
    setCategoryName() {
      const category = this.categories.find(e => e.id == routeId);
      const routeId = this.$route.query.category;
      this.categoryName = category ? category.name : "Sản phẩm";
    }
  }
};
</script>