<template>
  <div id="app">
    <app-header></app-header>
    <main style="margin-top: 90px">
      <router-view></router-view>
    </main>
  </div>
</template>
<script src="https://cdn.jsdelivr.net/npm/mdbvue/lib/mdbvue.umd.min.js"></script>
<script>
import axios from "axios";
import { mapState, mapMutations, mapActions } from "vuex";
import { mdbBtn } from "mdbvue";

export default {
  created() {
    this.loadSiteSetting();
    this.loadCartLC();
  },
  components: {
    mdbBtn
  },
  methods: {
    ...mapMutations(["SET_CATEGORIES"]),
    ...mapActions(["saveSettings", "loadCartLC"]),
    loadSiteSetting() {
      axios.get("api/app-settings").then(res => {
        const resultData = res.data.data;
        this.SET_CATEGORIES(resultData.categories);
        this.saveSettings(resultData.settings);
      });
    }
  }
};
</script>
<style lang="scss">
  div#app {
    background-color: #f0F0F0;
  }
</style>