<template>
  <!-- Footer -->
  <footer class="container-fluid bg-light py-md-5">
    <div class="container">
      <div class="row aligns-item-center">
        <address
          class="col-md-6 footer__column p-2 justify-content-center"
          style="font-size: 1.2rem"
        >
          <div>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>{{ settings.address }}</span>
          </div>
          <div>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>{{ settings.phone }}</span>
          </div>
          <div>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>{{ settings.email }}</span>
          </div>
        </address>
        <div class="col-md-6 footer__column p-2">
          <h5>About the company</h5>
          <p>
            {{ settings.info }}
          </p>
          <div style="font-size: 2rem">
            <a :href="settings.facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a :href="settings.twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a :href="settings.fanpage"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["settings"]),
  },
  methods: {
  }
};
</script>