<template>
  <header class="fixed-top bg-light">
    <div class="container">
      <div class="row justify-content-end">
        <div class="ml-2">
          <div>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>{{ settings.email }}</span>
          </div>
        </div>
        <div class="ml-2">
          <div>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>{{ settings.phone }}</span>
          </div>
        </div>
        <div class="ml-2">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-twitter ml-1" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <router-link class="navbar-brand" tag="a" to="/">{{ settings.brand }}</router-link>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >Thể loại</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <router-link
                    v-bind:key="category.name"
                    v-for="category in categories"
                    class="dropdown-item"
                    :to="{ name: 'items', query: {category: category.id}}"
                  >{{ category.name }}</router-link>
                </div>
              </li>
            </ul>
            <form id="search-form" class="form-inline justify-content-center align-items-center">
                <mdb-input placeholder="Tìm sản phẩm" basic>
                  <span class="input-group-text bg-secondary text-white" slot="append">
                    <i class="fas fa-search"></i>
                  </span>
                </mdb-input>
            </form>
            <router-link class="btn btn-warning btn-md" tag="button" to="/cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Có {{cartItems.length}} sản phẩm
            </router-link>
            <button type="button" class="btn btn-info ml-2 btn-md">Đăng nhập</button>
          </div>
        </div>
      </nav>
    </div>
  </header>
</template>

<style lang="scss">
#top-header {
  font-size: 0.8em;
}


  
  #search-form input {
    border-top-left-radius: .2em !important;
    border-bottom-left-radius: .2em!important;
  }
</style>

<script>
import { mapState } from "vuex";
import { mdbInput } from "mdbvue";

export default {
  components: {
    mdbInput
  },
  computed: {
    ...mapState(["categories", "cartItems", "settings"])
  }
};
</script>