<template>
  <article class="cart-item bg-white">
    <img class="item-img col-3 p-0 m-0" :src="data.poster" alt />
    <div class="information col-9">
      <div class="row">
        <div class="col-6">
          <h6>{{ data.name }}</h6>
          <div style="font-size: 1.1em" class="text-danger mb-2">Chỉ còn 5 sản phẩm</div>
          <div style="font-size: .9em">
            <a class="text-info mr-2" @click="removeItem(data)">Xóa</a>
            <a class="text-info" href>Để dành mua sau</a>
          </div>
        </div>
        <div class="col-6 text-right">
          <div
            style="font-weight: bold; font-size: 1.2em; opacity: .7"
          >{{ data.unit_price | toCurrency}}</div>
          <div style="display: inline-flex">
            <button
              type="button"
              class="btn-left m-0"
              @click="descreaseItem(data)"
            >-</button>
            <input
              disabled
              style="border: 1px grey solid; display: inline; width: 30px;"
              type="number"
              min="1"
              step="1"
              class="text-center"
              :value="data.quantity"
            />
            <button
              type="button"
              class="btn-right"
              @click="increaseItem(data)"
            >+</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>
<style lang="scss">

</style>
<style lang="scss">
  a {
    cursor: pointer;
  }

  input {
    width: 30px;
    user-select: none;
    outline: none;
  }
</style>

<script>
import Vue from "vue";
import { mapMutations } from "vuex";
import { mdbInput, mdbBtn } from "mdbvue";

export default {
  props: ["data"],
  components: {
    mdbInput,
    mdbBtn
  },
  methods: {
    run: function() {},
    ...mapMutations([
      "REMOVE_ITEM_FROM_CART",
      "INCREASE_QUANTITY",
      "DESCREASE_QUANTITY"
    ]),
    removeItem: function(item) {
      this.REMOVE_ITEM_FROM_CART(item);
    },
    increaseItem: function(item) {
      this.INCREASE_QUANTITY(item);
      this.$forceUpdate();
      this.$parent.$forceUpdate();
    },
    descreaseItem: function(item) {
      this.DESCREASE_QUANTITY(item);
      this.$forceUpdate();
      this.$parent.$forceUpdate();
    }
  }
};
</script>