<template>
  <div class="p-1 col-6 col-sm-4">
    <router-link
      id="cgitem"
      tag="div"
      class="item bg-white"
      :to="{ name: 'itemdetails', params: { id: data.id } }"
    >
      <figure>
        <img :src="data.poster" alt />
      </figure>
      <div class="p-1">
        <h6>{{ data.name }}</h6>
        <span class="price">{{ data.unit_price | toCurrency }}</span>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  props: ["data"],
  components: {

  }
};
</script>

<style lang="scss">
#cgitem {
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    // background-color: lighten($color: tomato, $amount: 10%);
    box-shadow: 0 0.2px 2px grey;
  }

  figure {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;

    img {
      box-sizing: content-box;
      width: auto;
    }
  }
}
h6 {
  cursor: pointer;
}
</style>