<template>
    <vue-markdown>{{ data }}</vue-markdown>
</template>

<script>
import VueMarkdown from 'vue-markdown'

export default {
    props: ['data'],
    components: {
        VueMarkdown
    }
}
</script>