<template>
  <!-- Danh mục ngành hàng và quảng cáo -->
  <section id="category-list" class="mb-3 container">
    <h3>Danh mục ngành hàng</h3>
    <article id="hot-sales">
      <div class="row">
        <div class="border-md col-md-10">
          <div id="category-list" class="row">
            <div class="category col-md-6">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-md-6">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-md-6">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-md-6">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
            <div class="category col-6 col-md-3">
              <figure>
                <img
                  src="https://i5.walmartimages.com/asr/2dbd1424-e893-4e19-bf30-9b475ddb234e_1.776fface77d533259e4a73a1542b91ec.jpeg"
                  alt
                />
                <button type="button" class="category__button btn btn-light">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </figure>
            </div>
          </div>
        </div>
        <side id="ads" class="col-md-2 d-none d-md-block">
          <div class="ads__container">
            <figure>
              <img src="http://webresizer.com/images2/bird1_before.jpg" alt />
            </figure>
            <figure>
              <img src="http://webresizer.com/images2/bird1_before.jpg" alt />
            </figure>
            <div>alo</div>
          </div>
        </side>
      </div>
    </article>
  </section>
  <!-- End Danh mục ngành hàng và quảng cáo -->
</template>

<script>
export default {
    
}
</script>