<template>
  <!-- Category deals -->
  <section id="category-deals" class="container">
    <!-- Category details -->
    <article class="category__deals row">
      <div class="left-column col-md-2 d-md-flex flex-column justify-content-between">
        <div class="category-title px-0 py-2 px-md-1 py-md-4">
          <router-link
            id="category__link"
            tag="h5"
            :to="{ name: 'items', query: { category: data.id }}"
          >{{ data.name }}</router-link>
        </div>

        <div class="brand-list">
          <h6 class="d-none d-md-block">HOT</h6>
          <div class="d-flex d-md-block">
            <div class="brand">Ginseng</div>
            <div class="brand">Ginseng</div>
            <div class="brand">Ginseng</div>
            <div class="brand">Ginseng</div>
            <div class="brand">Ginseng</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-none d-lg-block h-100 p-0">
        <div class="carousel" data-ride="carousel">
          <div class="carousel-inner">
            <div
              class="carousel-item"
              :class="{active: index==0}"
              :key="img"
              v-for="(img, index) in data.images"
            >
              <img :src="img" alt="First slide" />
            </div>
          </div> 
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6">
        <div class="item-list row">
          <cg-item :key="data.id" :data="data" v-for="data in data.products" />
        </div>
      </div>
    </article>
    <!-- Category details -->
  </section>
</template>

<script>
export default {
  props: ["data"]
};
</script>

<style lang="scss">
section#category-deals {
  margin-bottom: 2em;

  #category__link {
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: red;
    }
  }
}

.carousel-inner {
  height: 626px;
  box-sizing: border-box;
  .carousel-item {
    height: 100%;
  }
  img {
    height: 100%;
  }
}
</style>