<template>
  <article class="deal-poster">
    <figure class="m-0 p-0">
      <img class="w-100 h-auto mask" :src="data.image" />
    </figure>

    <div class="bottom-mask p-3">
      <h5 class="text-white m-0">{{ data.title}}</h5>
      <h4 class="text-warning my-1">Chỉ từ {{ data.price | toCurrency }}</h4>
      <p class="text-light m-0">{{ data.description }}</p>
    </div>
  </article>
</template>

<style lang="scss">
.deal-poster {
  position: relative;

  figure {
    position: relative;
    background-color: black;

    .mask {
      transition: all .3s;

      -webkit-mask-image: linear-gradient(to top, transparent 0%, black 50%);
      mask-image: linear-gradient(to top, transparent 0%, black 50%);
    }
  }

  &:hover {
    .bottom-mask {
      bottom: 1rem;
    }

    figure .mask {
      -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
      mask-image: linear-gradient(to top, transparent 0%, black 100%);
    }
  }
}

.bottom-mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: all .3s;

  h4 {
    font-size: 1.3em;
    font-weight: 500;
  }

  h5 {
    font-weight: 500;
  }

  p {
    font-size: 0.8em;
  }
}
</style>

<script>
export default {
  props: ["data"]
};
</script>