<template>
  <section id="hot-deals" class="container">
    <div class="row">
      <article class="col-4 col-md-6 p-2">
        <img class="w-100" src="https://cdn.pixabay.com/photo/2015/06/22/11/07/rose-817431_640.jpg" alt />
      </article>
      <article class="col-4 col-md-3 p-2">
        <img class="w-100" src="https://cdn.pixabay.com/photo/2015/06/22/11/07/rose-817431_640.jpg" alt />
      </article>
      <article class="col-4 col-md-3 p-2">
        <img class="w-100" src="https://cdn.pixabay.com/photo/2015/06/22/11/07/rose-817431_640.jpg" alt />
      </article>
      <article class="col-4 col-md-3 p-2">
        <img class="w-100" src="https://cdn.pixabay.com/photo/2015/06/22/11/07/rose-817431_640.jpg" alt />
      </article>
      <article class="col-4 col-md-6 p-2">
        <img class="w-100" src="https://cdn.pixabay.com/photo/2015/06/22/11/07/rose-817431_640.jpg" alt />
      </article>
      <article class="col-4 col-md-3 p-2">
        <img class="w-100" src="https://cdn.pixabay.com/photo/2015/06/22/11/07/rose-817431_640.jpg" alt />
      </article>
    </div>
  </section>
</template>

<style lang="scss">
</style>

<script>
export default {};
</script>