<template>
  <section id="product-details" class="p-2 container">
    <article id="info" class="row">
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4">
        <figure class="card">
          <img
            class="card-img-top"
            src="https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&itemId=666244-847&recipeName=680"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title text-danger">Nhân sâm ngàn năm</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Aspernatur impedit beatae quidem architecto error tempore
              corporis accusamus culpa eveniet! Quaerat alias quas inventore
              saepe vel minima rem veniam corrupti facere?
            </p>
            <div class="row justify-content-between align-items-center px-3">
              <span class="price">500.000 đ</span>
              <button type="button" class="btn btn-danger">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Thêm
                vào giỏ
              </button>
            </div>
          </div>
        </figure>
      </div>
    </article>
  </section>
</template>

<script>
export default {};
</script>
