<template>
    <figure class="card hover-up">
      <router-link tag="img" :to="{ name: 'itemdetails', params: { id: data.id }}"
        class="card-img-top"
        :src="data.poster"
        alt="Card image cap"
      />
      <div class="card-body p-2">
        <router-link
          tag="a"
          :to="{ name: 'itemdetails', params: { id: data.id }}"
          class="card-title"
        >{{ data.name }}</router-link>
        <!-- <p class="card-text">{{ data.description }}</p> -->
        <div class="justify-content-between align-items-center">
          <div class="price my-2">{{ data.unit_price | toCurrency }}</div>
          <button type="button" class="btn btn-sm btn-danger btn-block my-1" @click="addToCart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Chọn mua
          </button>
        </div>
      </div>
    </figure>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  props: ["data"],
  methods: {
    ...mapMutations(["ADD_ITEM_TO_CART"]),
    addToCart: function() {
      this.ADD_ITEM_TO_CART(this.data);
    }
  }
};
</script>

<style lang="scss">
  a.card-title {
    font-size: 1em;
    color: grey;
  }
  img {
    height: 170px;
    cursor: pointer;
  }

  .price {
    font-size: 1.1em;
    color: #FF7800
  }
</style>