<template>
  <section class="container mb-2">
    <div class="row">
      <article class="col-6 col-md-3 p-1" :key="n" v-for="n in 4">
        <div class="col">
          <div class="row">
            <div class="col-3 p-1">
                <div>
              <img class="slogan-icon p-2" src="/images/slogans/buy.svg" alt />

                </div>
            </div>
            <div class="col-9 px-1 py-md-2">
              <h5 class="slogan-title m-0 my-1">Slogan</h5>
              <p class="slogan-description p-0 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, optio!</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</template>

<style lang="scss">
img.slogan-icon {
  height: auto !important;
  width: 100% !important;
  opacity: .6;
}

h5.slogan-title {
    font-size: .8em;
    font-weight: 400;
}
p.slogan-description {
    font-size: .7em;
    opacity: .6;
}
</style>

<script>
export default {};
</script>